/* scrollbar.css */
.scrollbar {
  --scrollbar-width: 6px;
  --scrollbar-track: transparent;
  --scrollbar-thumb: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
